table { /* Make a BuildFlightTable css file to style independently */
    margin-top: 2em;
    border-collapse: collapse;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
  th {
    font-size: 20px;
    background-color: #FFAC00;
    color: white;
  }
  td {
    font-size: 16px;
  }
  th, td {
    width: 175px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 3px;
  }