
.date-field {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: dodgerblue;
}
a:hover {
  cursor: pointer;
}

.form-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }

  /* Gives labels breathing room from main form field*/
  .input label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
  .input input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  button {
      background-color: #6ec5b8;
      border: none;
      font-weight: bold;
      color: white;
      margin: 5px 10px 5px 0;
  }
  tr {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  
