.boxed-letters{
  margin-left: 2em;
  margin-bottom: 0px;
  display: block;
}
.total {
margin-bottom: 10px;
border-bottom: 1px solid #C7BAA7;
}
.Currency {
  float: right;
  margin: 26px 30px 0px 0px;
  position: relative;
}
select {
  padding: 8px;
  background-color: #FF9000;
  border: 0px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
select:hover {
  cursor: pointer;
}
h1 {
  text-align: center;
  color: black;
  display: inline-block;
  background-color: #FF9000;
  padding: 0px 4px 0px 4px;
  margin-bottom: 3px;
  width: 30px;
  color: white;
}
p {
  font-size: 14px;
  margin: 3px 0px 10px 2.2em;
}