.boxed-letters{
  margin-left: 2em;
  margin-bottom: 0px;
  display: block;
}
.total {
margin-bottom: 10px;
border-bottom: 1px solid #C7BAA7;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-left: 1rem;
margin-right: 1rem;
flex-wrap: wrap;
}
.Currency {
  
}
select {
  padding: 8px;
  background-color: #FF9000;
  border: 0px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
select:hover {
  cursor: pointer;
}
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 20rem;
}
p {
  font-size: 14px;
}