body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  display: block;
  margin-left: 24em;
  margin-right: auto;
}
table { /* Make a BuildFlightTable css file to style independently */
  margin-top: 2em;
  margin-left: 27em;
  margin-right: auto;
  border-collapse: collapse;
}
th {
  font-size: 22px;
}
td {
  font-size: 18px;
}
th, td {
  width: 175px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
